#topRight{
    position:absolute;
    top:5px;
    right:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.4);
    color: #020202;
    visibility: hidden;
}

#weather{
    display: flex;
}

#weathericon{
    margin: 2px 15px 2px 10px;
    display: block;
    float: left;
}

#locationlabel{
    text-align: right;
    font-size: 25px;
}

#darkSky{
    font-size: 10px;
    text-align: right;
}